# Dependencias
node_modules/
.pnpm-store/

# Entorno
.env
.env.local

# Compilación y caché
dist/
build/
.next/
.astro/
.cache/

# Sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Registros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Entorno (Astro)
.env.production

# QA visual
.screenshots/
